<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">
                {{ template "_shared/breadcrumbs.html" .}}
            </h2>
            <h1 class="title">
                Parts Inventory
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <table class="table is-fullwidth is-hoverable" id="dataTable">
        <thead>
            <tr>
                <th>Price</th>
                <th>Expires</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Price</th>
                <th>Expires</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            {{range $key, $val := .Data}}
            <tr>
                <td>{{$val.V.Price}}</td>
                <td>{{$val.V.Expires}}</td>
                <td>
                    <p class="buttons">
                        <a href="/part/{{$val.K}}" class="button is-primary">
                            <span class="icon is-small">
                                <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <a href="#delete" class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-ban"></i>
                            </span>
                        </a>
                    </p>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</section>