<section class="hero">
    <div class="hero-body">
            <h1 class="title has-text-centered">
                    Upoad your vehicle history
                    </h1>
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Please select</option>
                                <option>Mr.</option>
                                <option>Mrs.</option>
                                <option>Ms.</option>
                                <option>Dr.</option>
                                <option>Prof.</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="control">
                    <span>Name</span>
                    <input class="input" type="text" placeholder="Name">
                </div>
                <div class="control">
                    <span>Surname</span>
                    <input class="input" type="text" placeholder="Surname">
                </div>


                <div class="control">
                    <span>Vin Number</span>
                    <input class="input" type="text" placeholder="Vin number">
                </div>
                <div class="control">
                    <span>Vehicle Mileage</span>
                    <input class="input" type="text" placeholder="Mileage">
                </div>
                <div class="control">
                    <span>Vehicle Registraion</span>
                    <input class="input" type="text" placeholder="Registration number">
                </div>

                <div class="field">
                    <span>Work done</span>
                    <br>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Please select</option>
                                <option>Oil change only</option>
                                <option>Minor Service</option>
                                <option>Major Service</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="field">
                    <span>Comment</span>
                    <div class="control">
                        <textarea class="textarea" placeholder="e.g other work done on vehicle"></textarea>
                    </div>
                </div>
                <h3>Mechanical</h3>
                <br>
                <div class="control is-left">
                    <label class="radio">
                        <input type="radio" name="answer">
                        Replaced cambelt
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" name="answer">
                        Replaced cambelt & Tensioners
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" name="answer">
                        Replaced timing chain
                    </label>
                </div>
                <br>
                <h3>Braking System</h3>
                <br>
                <div class="control is-left">
                    <label class="radio">
                        <input type="radio" name="answer">
                        Brakes Done - Front
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" name="answer">
                        Brakes Done - Rear
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" name="answer">
                        Brakes Done - Front & Rear
                    </label>
                </div>
                <div class="field">
                    <button class="button is-block is-success is-normal is-fullwidth">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>