<section class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-6 is-shady">
        <article class="tile is-child">
          <div class="column is-11 is-offset-0">
            <h1 class="title">
              Upoad your vehicle history
            </h1>
            <div class="control">
              <span>Vin Number</span>
              <input class="input" type="text" placeholder="Vin number">
            </div>
            <div class="control">
              <span>Vehicle Mileage</span>
              <br>
              <input class="input" type="text" placeholder="Mileage">
            </div>
            <div class="control">
              <span>Vehicle Registraion</span>
              <input class="input" type="text" placeholder="Registration number">
            </div>
            <br>
            <div class="field ha-text-centered">
              <span><b>Work done</b></span>
              <hr>
              <div class="control">
                <div class="select is-fullwidth has-text-left">
                  <select>
                    <option>Please select</option>
                    <option>Oil change only</option>
                    <option>Minor Service</option>
                    <option>Major Service</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="field">
                <span><b>Comments</b></span>
                <br><br>
                <div class="control">
                  <textarea class="textarea" placeholder="e.g other work done on vehicle"></textarea>
                </div>
              </div>
              <h2><b>Mechanical</b></h2>
              <hr>
              <div class="control is-left">
                <label class="radio">
                  <input type="radio" name="answer">
                  Replaced cambelt
                </label>
                <br>
                <label class="radio">
                  <input type="radio" name="answer">
                  Replaced cambelt & Tensioners
                </label>
                <br>
                <label class="radio">
                  <input type="radio" name="answer">
                  Replaced timing chain
                </label>
              </div>
              <br>
              <h2><b>Braking System</b></h2>
              <hr>
              <div class="control is-left is-fullwidth">
                <label class="radio">
                  <input type="radio" name="answer">
                  Brakes Done - Front
                </label>
                <br>
                <label class="radio">
                  <input type="radio" name="answer">
                  Brakes Done - Rear
                </label>
                <br>
                <label class="radio">
                  <input type="radio" name="answer">
                  Brakes Done - Front & Rear
                </label>
              </div>
              <br>
              <div class="field">
                <button class="button is-block is-primary is-normal is-fullwidth">Next</button>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-3 is-shady">
        <article class="tile is-child">
          <p class="title">Top 10</p>
          <p class="subtitle colourSecondary">Top 10 Brands in SA</p>
          <div class="list is-hoverable">
            <a class="list-item">
              Toyota
            </a>
            <a class="list-item">
              Volkswagen
            </a>
            <a class="list-item">
              Nissan
            </a>
            <a class="list-item">
              Hyundai
            </a>
            <a class="list-item">
              Mercedes-Benz
            </a>
            <a class="list-item">
              Kia
            </a>
            <a class="list-item">
              Isuzu
            </a>
            <a class="list-item">
              BMW
            </a>
            <a class="list-item">
              Renault
            </a>
            <a class="list-item">
              Ford
            </a>
          </div>
        </article>
      </div>
    </div>
  </section>